{%extends 'ResultApp/base.html'%}

{%block title%}
<title>Import Students Data</title>
{%endblock%}

{%block content%}

<div class="container">
  <div class="row">
    <div class="col-md-3">.</div>
    <div class="col-md-6">
<!--Card-->
<div class="card mdb-color lighten-4 text-center z-depth-2 light-version py-4 px-5">
<div class="card-header">Featured</div>
  <form  class="md-form">
    <div class="file-field">
      <a class="btn-floating peach-gradient mt-0 float-left">
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        <input type="file">
      </a>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload your file">
      </div>
    </div>
    <button type="button" class="btn btn-default btn-rounded">Info</button>
  </form>
 <div class="card-footer text-muted">2 days ago</div>
</div>
<!--/.Card-->

    </div>
    <div class="col-md-3">.</div>
  </div>
</div>

{%endblock%}
